
#kitty{
  display:none;
  width: 200px;
  height: 200px;
  position:relative;
}

#dog {
    width: 200px;
    height: 200px;
    background-color: #FF8FB8;
    position: relative;
}

.images{
  width:200px;
  height:200px;
  position:relative;
  -webkit-animation-name: example; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 20s; /* Chrome, Safari, Opera */
   -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   {background-color:#FF8FB8; left:0px; top:0px;}
    25%  {background-color:#FBFF8F; left:500px; top:0px;}
    50%  {background-color:#8FB0FF; left:500px; top:500px;}
    75%  {background-color:#8FFFC5; left:0px; top:500px;}
    100% {background-color:#FF8FB8; left:0px; top:0px;}
}